@page
@model BridalPartyModel
@{
    ViewData["Title"] = "BRIDAL PARTY";
}

<div class="bridal-party-box">
    <h1>In the Bridal Party?</h1>
    <br /><br />
    <a href="https://www.facebook.com/groups/973817462827384/" target="_blank"><text class="bridal-party-borderbox">CLICK HERE</text></a>
    <br /><br />
    <h1>Need details for the Rehearsal Dinner?</h1>
    <br /><br />
    <a href="https://www.facebook.com/events/1043203429196307/" target="_blank"><text class="bridal-party-borderbox">CLICK HERE</text></a>
</div>

