@page
@model DirectionsModel
@{
    ViewData["Title"] = "DIRECTIONS & ACCOMMODATIONS";
}


<div class="directions-box">
    <h2>@ViewData["Title"]</h2>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="directions-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.600207662248!2d-81.57967068496446!3d26.468612983320817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88db0bc3a01f224d%3A0x1759b77667ab0e73!2s18810+Misty+Morning+Ln%2C+Fort+Myers%2C+FL+33913!5e0!3m2!1sen!2sus!4v1548035998208" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="accommodations-textbox">
                    <h4>Misty Morning Barn is east of I-75 at exit 123.  Please refer to the map for more details.</h4>
                    <h3>Hotels Near the Venue:</h3>
                    <h5>Hampton Inn & Suites Fort Myers-Estero/FGCU</h5>
                    <a href="https://hamptoninn3.hilton.com/en/hotels/florida/hampton-inn-and-suites-fort-myers-estero-fgcu-FMYETHX/index.html" target="_blank">10611 Chevrolet Way, Estero, FL 33928</a>

                    <h5>Embassy Suites by Hilton Fort Myers Estero</h5>
                    <a href="https://embassysuites3.hilton.com/en/hotels/florida/embassy-suites-by-hilton-fort-myers-estero-FMYESES/index.html" target="_blank">10450 Corkscrew Commons Dr, Estero, FL 33928</a>

                    <h5>Hilton Garden Inn Fort Myers Airport/FGCU</h5>
                    <a href="https://hiltongardeninn3.hilton.com/en/hotels/florida/hilton-garden-inn-fort-myers-airport-fgcu-RSWFMGI/index.html" target="_blank">16410 Corporate Commerce Way, Fort Myers, FL 33913</a>

                    <h5>Holiday Inn Fort Myers Airport at Town Center</h5>
                    <a href="https://www.ihg.com/holidayinn/hotels/us/en/fort-myers/fmyar/hoteldetail" target="_blank">9931 Interstate Commerce Dr, Fort Myers, FL 33913</a>

                    <h3>Hotels Near Naples (The Bride’s Family Residence):</h3>
                    <h5>Hampton Inn Naples-I-75</h5>
                    <a href="https://hamptoninn3.hilton.com/en/hotels/florida/hampton-inn-naples-i-75-APFFLHX/index.html" target="_blank">2630 Northbrooke Plaza Dr, Naples, FL 34119</a>

                    <h5>Hawthorn Suites by Wyndham Naples</h5>
                    <a href="https://www.hawthornnaples.com/" target="_blank">3557 Pine Ridge Rd, Naples, FL 34109</a>

                    <h5>Best Western Naples Plaza Hotel</h5>
                    <a href="https://www.bestwestern.com/en_US/book/hotels-in-naples/best-western-naples-plaza-hotel/propertyCode.10280.html" target="_blank">6400 Dudley Dr, Naples, FL 34105</a>
                </div>
            </div>
        </div>
    </div>
</div>



