@page
@model DressCodeModel
@{
    ViewData["Title"] = "DRESS CODE";
}

<div class="registry-box">
    <h1>@ViewData["Title"]</h1>
    <br /><br />
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="hero-images" src="~/images/hero images/wdresscode.png" alt="Men's Dress Code" />
        </div>
        <div class="col-lg-6">
            <h2>
                <br />
                <br />
                Our wedding will be at an outdoor venue on a warm spring day in the tropics, so do not feel the need to bring out your ballgown and black tux!  Feel free to dress comfortably in your summer best!  Sundresses, khakis, linen, bright or pastel colors.
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>
                <br />
                <br />
                <br />
                Also, ladies, the ceremony will be on grass so make appropriate shoe choices.  Wedges, espadrilles, and flats are welcome. We ask for no white in consideration of the bride.
            </h2>

        </div>
        <div class="col-lg-6">
            <img class="hero-images" src="~/images/hero images/mdresscode.png" alt="Women's Dress Code" />
        </div>
    </div>
</div>