@page
@{
    ViewData["Title"] = "REGISTRY";
}



<div class="registry-box">
    <h1>REGISTRY</h1>
    <br /><br />
    <div>
        <a href="https://www.blueprintregistry.com/registry/romero-wedding-registry-5-4-2019" target="_blank"><img class="blue-print-registry" src="~/images/blueregistry.png" /></a>
    </div>
</div>
