@page
@model TheWeddingModel
@{
    ViewData["Title"] = "THE WEDDING";
}
<h2>@ViewData["The Wedding"]</h2>
<br /><br />


<div class="container">
    <div class="row">
        <img class="hero-images" src="~/images/barn.jpg" />
        <div class="col-lg-6">
            <h1>WHEN</h1>
            <h3>
                Saturday, May 4, 2019
                <br />
                Ceremony: 4:00 PM
                <br />
                Reception to follow.
                <br />
            </h3>
        </div>
        <div class="col-lg-6">
            <h1>WHERE</h1>
            <h3>
                <a href="https://mistymorningbarn.com/" target="_blank">Misty Morning Barn at Clutch Farm</a><br />
                <a href="https://goo.gl/maps/JZixu96bzix" target="_blank">
                    18810 Misty Morning Lane<br />
                    Fort Myers, Florida 33913<br />
                </a>
                <a href="tel:2398870069" target="_blank">(239) 887-0069</a>
            </h3>
        </div>
    </div>
</div>
